body {
  font-family: verdana;
}

.bg-base {
  background-color: #000000;
}

a.bg-base:hover,
a.bg-base:focus,
button.bg-base:hover,
button.bg-base:focus {
  background-color: #2176bd !important;
}

.bg-main {
  background: linear-gradient(to top left, #000000, #0000CC 20%, #3333CC 35%, #0000CC 80%, #000000);
  padding: 0px;
}

.bg-nav-base {
  background-color: #0E1D55;
}

.bg-status {
  background-color: #C4CBD3;
  color: #000000;
}

.btn {
  font-size: 13px;
  font-weight: bold;
}

.btn-blue {
  color: #fff;
  background-color: #152C7F;
  border-color: #FFFFFF;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0.1rem;
}

.btn-blue:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-blue:focus,
.btn-blue.focus {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-blue.disabled,
.btn-blue:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-blue:not(:disabled):not(.disabled):active,
.btn-blue:not(:disabled):not(.disabled).active,
.show > .btn-blue.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-blue:not(:disabled):not(.disabled):active:focus,
.btn-blue:not(:disabled):not(.disabled).active:focus,
.show > .btn-green.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-diffence {
  color: #fff;
  background: linear-gradient(to bottom, #03124C, #091F70 50%, #1640DC);
  border-color: #FFFFFF;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0.1rem;
}

.btn-diffence:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-diffence:focus,
.btn-diffence.focus {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-diffence.disabled,
.btn-diffence:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-diffence:not(:disabled):not(.disabled):active,
.btn-diffence:not(:disabled):not(.disabled).active,
.show > .btn-diffence.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-diffence:not(:disabled):not(.disabled):active:focus,
.btn-diffence:not(:disabled):not(.disabled).active:focus,
.show > .btn-green.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-gray-blue {
  color: #FFF;
  background-color: #425667;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0.1rem;
}

.btn-gray-blue:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-gray-blue:focus,
.btn-gray-blue.focus {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-gray-blue.disabled,
.btn-gray-blue:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-gray-blue:not(:disabled):not(.disabled):active,
.btn-gray-blue:not(:disabled):not(.disabled).active,
.show > .btn-gray-blue.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-gray-blue:not(:disabled):not(.disabled):active:focus,
.btn-gray-blue:not(:disabled):not(.disabled).active:focus,
.show > .btn-green.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-green {
  color: #fff;
  background-color: #005400;
  border-color: #FFFFFF;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0.1rem;
}

.btn-green:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-green:focus,
.btn-green.focus {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-green.disabled,
.btn-green:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-green:not(:disabled):not(.disabled):active,
.btn-green:not(:disabled):not(.disabled).active,
.show > .btn-green.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-green:not(:disabled):not(.disabled):active:focus,
.btn-green:not(:disabled):not(.disabled).active:focus,
.show > .btn-green.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-header {
  color: #fff;
  background-color: #152C7F;
  border-color: #FFFFFF;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 0.1rem;
}

.btn-header:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-header:focus,
.btn-header.focus {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-header.disabled,
.btn-header:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-header:not(:disabled):not(.disabled):active,
.btn-header:not(:disabled):not(.disabled).active,
.show > .btn-header.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-header:not(:disabled):not(.disabled):active:focus,
.btn-header:not(:disabled):not(.disabled).active:focus,
.show > .btn-header.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-offence {
  color: #fff;
  background: linear-gradient(to bottom, #70001D, #A3002F 50%, #C3003A);
  border-color: #FFFFFF;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 0.1rem;
}

.btn-offence:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-offence:focus,
.btn-offence.focus {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-offence.disabled,
.btn-offence:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-offence:not(:disabled):not(.disabled):active,
.btn-offence:not(:disabled):not(.disabled).active,
.show > .btn-offence.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-offence:not(:disabled):not(.disabled):active:focus,
.btn-offence:not(:disabled):not(.disabled).active:focus,
.show > .btn-green.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

.btn-shadow {
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.card-shadow {
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.7);
}

.color-gold {
  background: linear-gradient(to top, #68551E, #E6D7B0 50%, #68551E);
  color: #FFFFFF;
  font-size: 1em;
}

.color-silver {
  background: linear-gradient(to top, #3E454C, #C0C0C0 50%, #3E454C);
  color: #FFFFFF;
  font-size: 1em;
}

.color-blonze {
  background: linear-gradient(to top, #4F3819, #DCBB90 50%, #4F3819);
  color: #FFFFFF;
  font-size: 1em;
}

.font-o-elg {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
}

.font-o-lg {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
}

.font-o-md {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
}

.font-o-sm {
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
}

.font-o-esm {
  color: #FFFFFF;
  font-size: 11px;
  font-weight: bold;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.nav-link {
  color: #FFFFFF;
}

.nav-tabs {
  border-bottom: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #FFFFFF;
  background-color: #343a40;
  border-color: transparent;
}

.navbar {
  background-color: #0E1D55;
  padding-left: 0px;
  padding-right: 0px;
}

.table-green {
  background-color: #004C00;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}

.table-green th,
.table-green td,
.table-green thead th,
.table-green tbody + tbody {
  border: 1px solid #677480;
}

.table-transparent {
  background-color: transparent;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

.table-transparent th,
.table-transparent td,
.table-transparent thead th,
.table-transparent tbody + tbody {
  border-color: #FFFFFF;
}

.title_comment {
  font-weight: bold;
  color: #C1CDD7;
  font-size: 1.3em;
  font-family: "Meiryo UI";
  line-height: 1.6em;
}

.txt-shadow {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
}

.txt-shadow-dark {
  text-shadow: 3px 3px 3px black;
}

